body {
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

header h1{
  color: rgb(0, 0, 0);;
  font-size: 50px;
  font-weight: bold;
  max-width: 450px;
  padding: 5px 10px;
  background-color: rgba(255, 0, 0, 0.822);
  text-align: center;
  margin: 0 0;
}

header{
  position: relative;
  padding: 10px 0 20px;
  margin: auto;
  background-color: rgb(0, 0, 0);
  width: auto;
  height: 100px; 
  display: flex;
}

nav{
  justify-content: center;
  width: 800px;
  position: absolute;
  top: 0%;
  left: 55%;
}

nav ul{
  padding: 20px auto;
  margin: 20px 20px ;
}

nav li{
  display: inline;
  margin: auto 5px;
}

nav a{
  color: rgb(255, 0, 0);
  margin: auto 10px;
  list-style: none;
  font-weight: bold;
  font-size: 30px;
  padding: 0 0 10px 0;
  text-decoration: none;
  border-bottom: 5px;
  border-style: none none solid none;
  border-color: rgb(255, 0, 0);
  
}

.banner{
  width: 100%;
  height: 400px;
  filter:rgb(255, 0, 0);
  display: flex;
}

.profile-pic {
 
  background-image: url(../assets/images/59967096_2208000545951983_425451725105659904_n.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 40%;
  display: flex;
}

.subtitle{
  text-align: center;
  background-image: url(../assets/images/shutterstock-1665254809.webp) ;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 60%;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.subtitle h2{
  align-items: center;
  color: rgb(0, 0, 0);;
  font-size: 60px;
  background-color: rgb(255, 0, 0);
  display: flex;
  height: 3rem;
}

.page-section {
  width: auto ;
  height: auto;
  margin: 20px auto;
  padding: auto;
}

.page-section h2{
  position: absolute;
  color: rgb(0, 0, 0);
  text-align: right;
  font-size: 45px;
  width: 200px;
  margin:  0 0 0 40px;
  padding: 0 5px 0 0;
}

.text-content{
  margin: 25px 0;
  padding: 0 0 0 50px;
  width: 75%;
  left: 15%;
  position: relative;
  border-left: 5px;
  border-style: none none none solid;
  border-color: rgb(255, 0, 0);
}

.text-content p{
  font-size: 20px; 
  text-align: justify; 
}

#box-content {
  position: relative;
  width: 75%;
  height: 100%;
  left: 15%;
  padding: 0 0 0 50px;
  border-left: 5px;
  border-style: none none none solid;
  border-color: rgb(233, 0, 0);
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
}

.BoxArea:hover {
  box-shadow: 15px 15px 15px 15px red;
}

#box1 {
  background-image:url(../assets/images/Screenshot\ \(11\).png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 75%;
  height: 350px;
  margin-left: 340px;
  margin-right: auto;
}

#box2 {
  background-image:url(../assets/images/Screenshot\ \(12\).png);
  background-size: cover;
  background-repeat: no-repeat;
}

#box3 {
  background-image:url(../assets/images/127.0.0.1_5501_develop_index.html.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#box4 {
  background-image:url();
  background-size: cover;
  background-repeat: no-repeat;
}

#box5 {
  background-image:url();
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts{
  position: relative;
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0;
  padding: 70px 0;
  width: 80%;
  height: 145px;
  left: 15%;
  border-left: 5px;
  border-style: none none none solid;
  border-color: rgb(0, 0, 0);
}

.contacts li{
  display: inline-block;
  text-decoration: none;
  padding: 0 60px 10px;
}

.contacts a{
  padding: 0 0 10px 0;
  text-decoration: none;
  font-weight: bold;
  color:rgb(255, 0, 0); 
  border-bottom: 5px;
  border-style: none none solid none;
  border-color: rgb(255, 0, 0);
  transform-origin: center;
}